{{ define "main" }}
<div class="project-image">
    <img src="{{ "images/" | relURL }}{{ .Params.image }}" alt="{{ .Title }}">
</div>

<!-- Блок с бейджиками-ссылками -->
<div class="badges">
    {{ range .Params.badges }}
    <a href="{{ .url }}" class="badge" target="_blank">{{ .name }}</a>
    {{ end }}
</div>

<!-- Контент проекта -->
<div class="article">
    {{ .Content }}
</div>

<style>
    body {
        overflow: auto;
    }

    .page_content {
        align-items: center;
        flex-direction: column;
    }

    .project-image {
        text-align: center;
        margin-bottom: 20px;
        width: 1600px;
    }

    .project-image img {
        max-width: 80%;
        height: auto;
        border-radius: 8px;
    }

    .badges {
        display: flex;
        width: 1600px;
        gap: 10px;
        margin: 0 20px;
        justify-content: space-evenly;
    }

    .badge {
        background-color: #000;
        color: #fff;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        width: 200px;
        text-align: center;
    }

    .badge:hover {
        background-color: #444;
    }

    .article {
        max-width: 1200px;
        padding: 20px;
        font-size: 18px;
        line-height: 1.6;    
        margin: 20px auto;
        background: white;
    }

    .content {
        margin-bottom: 10%;
    }

    /* Добавляем адаптивность */
    @media (max-width: 1024px) {
        .content {
            max-width: 90%;
            padding: 15px;
        }

        .project-image {
            width: 1000px;
        }

        .badges {
            width: 1000px;
        }

        .badge {
            width: 80%;
            text-align: center;
        }

        .article {
            font-size: 16px;
            padding: 10px;
        }
    }

    @media (max-width: 768px) {
        .content {
            max-width: 95%;
        }

        .project-image {
            width: 700px;
        }

        .badges {
            flex-direction: column;
            width: 700px;
        }

        .badge {
            width: 100%;
            text-align: center;
        }

        .article {
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        .content {
            padding: 10px;
        }

        .project-image {
            width: 400px;
        }

        .article {
            font-size: 14px;
        }

        .badges {
            flex-direction: column;
            width: 400px;
        }

        .badge {
            width: 100%;
        }
    }
</style>
{{ end }}
