.card_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.card_list__card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card_list__card:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.card_list__card__image img {
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: grayscale(100%) brightness(70%);
  height: 25vh;
}

.card_list__card__image img:hover {
  filter: grayscale(0%) brightness(100%);
  transform: scale(1.01);
}

.card_list__card__description__title {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2%;
}

.card_list__card__description__text {
  font-weight: 300;
  font-size: 16px;
}
