.tech-carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.tech-carousel__track {
  display: flex;
  width: 100%;
}

.tech-carousel__content {
  display: flex;
  flex-shrink: 0;
}

.tech-carousel__track__item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.tech-carousel__track img {
  height: 50px;
  filter: grayscale(100%) brightness(150%);
  transition: transform 0.3s ease-in-out;
}

.tech-carousel__track img:hover {
  transform: scale(1.2);
}
