.timeline {
  border: 2px dashed black; /* Оформление рамки */
  border-right: none;
  border-radius: 2%;
  padding: 5%;
  display: flex;
}

.timeline ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background: black; /* Линия таймлайна */
}

.timeline li {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 40px; /* Отступ слева для иконки */
  margin-bottom: 20px;
}

.timeline li:last-child {
  margin-bottom: 0;
}

.timeline__icon {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background: black;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
}

.timeline__content {
  padding-left: 10px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.timeline__content.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline__content > h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.timeline__content__date {
  font-size: 14px;
  color: gray;
}

.timeline__content > p {
  margin: 5px 0 0;
  font-size: 14px;
}
