<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta property="og:title" content="{{ .Title }} | Бэкенд-разработчик .NET">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">

    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/index.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "images/favicon.ico" | relURL }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
      <div class="language-switcher">
          {{ range .Site.Languages }}
          {{ if ne .Lang $.Site.Language.Lang }}
          <a href="{{ $.Permalink | replaceRE `/(en|ru)/` (print "/" .Lang "/") }}">{{ .LanguageName }}</a>
          {{ end }}
          {{ end }}
      </div>
    </header>
    {{ partial "header.html" . }}
    <div class="page_content">
        {{ block "main" . }}{{ end }}
    </div>
</body>
<style>
    .language-switcher {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    .language-switcher a {
        text-transform: lowercase;
        color: rgba(0, 0, 0, 0.76);
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    .language-switcher a:hover {
        background-color: #ffffff38;
    }
</style>
</html>
