<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Egor Fedorov">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Бэкенд-разработчик .NET. Разработка API, торговых сервисов и финансовых инструментов. Портфолио и контактная информация.">
    <meta name="keywords" content=".NET, бэкенд-разработчик, финтех, трейдинг, API, C#, Dapper, SQL, PostgreSQL, Python, React, JavaScript, Docker, Git, Linux, алгоритмическая торговля, технический анализ">

    <!-- Open Graph -->
    <meta property="og:title" content="Бэкенд-разработчик .NET | Портфолио">
    <meta property="og:description" content="Бэкенд-разработчик .NET с опытом в финансах и трейдинге. Разработка API, торговых сервисов и финансовых инструментов.">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:title" content="Бэкенд-разработчик .NET | Портфолио">
    <meta name="twitter:description" content="Бэкенд-разработчик .NET с опытом в финансах и трейдинге. Разработка API, торговых сервисов и финансовых инструментов.">

    <!-- Favicon -->
    <link rel="icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon">

    <meta name="yandex-verification" content="671a6a339ce44235" />
    <meta name="google-site-verification" content="m9wzmK3l80uu_3Jx8jOVVb6ta8CbtIfbMF3a37k5Wfc" />

    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/index.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "images/favicon.ico" | relURL }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="content">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <div class="column"></div>
            <div class="title">
                <h1>{{ .Title }}</h1>
                <h2>{{ .Params.subtitle }}</h2>
            </div>
            <div class="column"></div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        {{ partial (print "partials/" .Site.Language.Lang "/nav.html") . }}
</body>
</html>
